.gallery{
 flex-wrap: wrap;
 display: flex;
 justify-content: space-between;
}
.gallery-title{
  text-transform: uppercase;
  color: #263555;
  margin: 50px 0px;
  font-size: 34px;
}
.gallery-item{
display: block;
position: relative;
flex-basis: 32%;
margin-bottom: 1.5rem;
text-align: center;
}