.page-header {
  position: relative;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 100px 100px 100px 100px;
  width: 1024px;
  margin: auto;
  opacity: 0;
}

.logo {
  position: absolute;
  width: 139px;
  height: 139px;
  border-radius: 80px;
  background: #fff;
  left: 43%;
  top: 25%;
  text-align: center;
  line-height: 139px;
  text-decoration: none;
  text-decoration-color: #263555;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Dorsa', sans-serif;
}

.menu {
  display: flex;
  
}

.menu-item {
  position: relative;
  list-style-type: none;
  margin: auto;
  font-size: 28px;
  text-transform: uppercase;
}

.menu-item:nth-child(3) {
  margin-right: 139px;
}

.menu-item:nth-child(4) {
  margin-left: 139px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -30%;
  text-decoration: none;
  background: url(../img/bcg-sub-menu.jpg);
  padding: 10px;
  border-radius: 5%;
}

.sub-menu::before {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translatex(-50%);
  content: '';
  border: 10px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.sub-menu-item {
  display: block;
  text-decoration: none;
  list-style-type: none;
}

.sub-menu-link {
  text-decoration: none;
  color: #6b7488;
}

.menu-item:hover>.sub-menu {
  display: block;
  color: #263555
}

.menu-item:hover {
  color: #263555
}

.menu-item>a:hover {
  color: #263555;
}
