.aside {
  width: 30%;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
}

.category {
  margin-bottom: 50px;
}

.list-item {
  list-style-type: none;
  font-family: 'Arial', sans-serif;
  margin: 10px;
}

.list-item::before {
  width: 15px;
  height: 15px;
  content: url(../img/arrow.jpg);
  margin-right: 12px;
}

.list-link {
  text-decoration: none;
  color: #263555;
}

.category-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
}

.archive-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
}
