.aside {
  width: 30%;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
}

.category {
  margin-bottom: 3.125rem;
}

.list-item {
  list-style-type: none;
  font-family: 'Arial', sans-serif;
  margin: 0.625rem;
}

.list-item::before {
  width: 0.9375rem;
  height: 0.9375rem;
  content: url(../img/arrow.jpg);
  margin-right: 0.75rem;
}

.list-link {
  text-decoration: none;
  color: #263555;
  font-size: 0.8125rem;
}

.category-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.125rem;
  margin-bottom: 2.5rem;
}

.archive-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.125rem;
  margin-bottom: 2.5rem;
}