.main {
  width: 65%;
  margin-right: 5%;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
}

.main-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  }

.post {
  padding-top: 20px;
}

.post-footer {
  display:	flex;
  flex-wrap:	wrap;
  justify-content: space-between;
   
}

.post-footer-title {

}


/* .coments {
  justify-content:	flex-end;
} */

.name-user {
  flex-grow: 5;
}

.post-footer::before {
content: "";
width: 40px;
height: 40px;
margin-right: 10px;
border-radius: 20px;
background-color: #1789FC;
color: #fefefe;
}

.article {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #dedbdb;
}

.article-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.article-link {
  position: absolute;
  text-decoration: none;
  background: #fcf6f8;
  top: 100%;
  border-radius: 10%;
  border: 1px solid #e8e6e6;
  padding: 5px 5px;
}

.article-title {
  display: block;
  margin-bottom: 20px;
}

.article-text {
  flex-flow: column nowrap;
  margin-bottom: 20px;
}

