@media (min-width: 1024px){
  .wrapper {
    display: flex;

  }
  .maim {
    flex-basis: 65%;
    margin-right: 5%;
  }
  .aside{
    flex-basis: 30%;
    
  }
  .gallery-body{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-card{
    flex-basis: 50%;

  }
}
;