.main {
  width: 65%;
  margin-right: 5%;
  color: #263555;
}

.--title {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  margin-bottom: 3.125rem;
  text-transform: uppercase;
  font-weight: 400;
}
.gallery-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.gallery-card {
  flex-basis: 50%;
  margin-bottom: 1.25rem;
  position: relative;
}
.card-body {
  display: flex;
  flex-wrap: wrap;

}
.card-title{
margin-bottom: 1.25rem;
font-weight: 400;
}
.card-img{
  margin-right: 1rem;
}
.price-descr{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
  color:#4e5050;
}
.price{
  color: #6ec0ea;
  font-size: 0.8125rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.details{
  transform: translateX(300%);
  margin: 1rem 0rem;
  padding:0rem 0.625rem;
  border-radius: 0.5rem;
  font-size: 0.8125rem;
  text-decoration: none;
  background-color: #fbf6f8;
  border: 1px solid #b1aaaa;
  border-radius: 10%;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
 
}