.main {
  width: 65%;
  margin-right: 5%;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
}

.main-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  }

.post {
  padding-top: 20px;
}

.post-header {
  
}
.post-date{
  background-color: #1789FC;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
}
.post-header-title {
  display: inline-block;
    
  }

.header-text{
  display: flex;
  padding-left: 45px; 
  
}
/* .coments {
  justify-content:	flex-end;
} */

.name-user {
  flex-grow: 5;
}

.article {
  display: flex;
  padding: 20px 0px 90px 0px;
  border-bottom: 1px solid #dedbdb;
}

.article-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.article-link {
  position: absolute;
  text-decoration: none;
  background: #fcf6f8;
  top: 100%;
  border-radius: 10%;
  border: 1px solid #e8e6e6;
  padding: 5px 5px;
}

.article-title {
  display: block;
  margin-bottom: 20px;
}

.article-text {
  margin-bottom: 20px;
}

