.main {
  width: 65%;
  margin-right: 5%;
  color: #263555;
  font-family: 'Pathway Gothic One', sans-serif;
}

.main-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.125rem;
  }

.post {
  padding-top: 1.25rem;
}

.post-header {
  display: flex;
  align-items: center;
  /* max-width: 30rem; */
 /*  flex-grow: 1; */
}
.post-header-date{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 2rem;
 height: 2rem;
 margin-right: 0.675rem;
 border-radius: 50%;
 background-color: #38afe5;
 color: #fff;
 font-size: 0.6rem;
 text-transform: uppercase;
}
.post-header-title {
  color: #263555;
	font-size: 0.825rem;
	line-height: 1.3;
	text-transform: uppercase;
    
  }

.post-header-info{
  display: flex;
	justify-content: space-between; 
}

.post-header-info p {
  color: #868f8f;
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 1.5;
}

.article {
  display: flex;
  padding: 1.25rem 0rem 5.675rem 0rem;
  border-bottom: 1px solid #dedbdb;
}

.article-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.article-link {
  position: absolute;
  text-decoration: none;
  background: #fcf6f8;
  top: 100%;
  border-radius: 10%;
  border: 1px solid #e8e6e6;
  padding: 0.3125rem 0.3125rem ;
}

.article-title {
  display: block;
  margin-bottom: 1.25rem;
}

.article-text {
  margin-bottom: 1.25rem;
}

