  * {
    padding: 0px;
    margin: 0px;
  }

  .page-header {
    position: relative;
    font-family: 'Pathway Gothic One', sans-serif;
  }

  .logo {
    display: inline-block;
    width: 139px;
    height: 139px;
    border-radius: 80px;
    background: url(../img/logo.jpg);
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
  }

  .menu {
    display: flex;
    background-image: linear-gradient(45deg, #d1dcf9, #69b0d9);
    padding: 100px 100px 100px 100px;
  }

  .menu-item {
    display: inline-block;
    list-style-type: none;
    justify-content: space-around;
    margin: auto;
    font-size: 28px;
    text-transform: uppercase;
  }

  .menu-item:nth-child(3) {
    margin-right: 139px;
  }

  .menu-item:nth-child(4) {
    margin-left: 139px;
  }

  .menu-link {
    text-decoration: none;
    color: #ffffff;
  }

  .sub-menu {
    display: none;
    position: absolute;
    left: 260px;
    top: 135px;
    text-decoration: none;
    background: url(../img/bcg-sub-menu.jpg);
    padding: 10px;
  }

  .sub-menu-item {
    display: block;
  }

  .sub-menu-link {
    text-decoration: none;
    color: #6b7488;
  }

  .menu-item:hover>.sub-menu {
    display: block;
    color: #263555
  }
  .menu-item:hover{
    color: #263555
  }
  .menu-item>a:hover {
    color:#263555;