.destinations{
padding-bottom: 60px;
}
.section-title{
text-transform: uppercase;
color: #263555;
padding-bottom: 50px;
font-size: 34px;
}
.destinations-body{
display: flex;

}
.destinations-card{
width: 33%;
position: relative;
}
.destinations-card:hover > .destinations-descr{
  display: block;
  transform: translate(0%,-100%);
  
}
.destinations-descr{
  display: none;
  position: absolute;
  top: 100%;
  width: 50%; 
  background: #193149;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  padding: 20px 10px;
  
}
.descr-title{
font-size: 34px;
text-transform:uppercase;
padding-bottom: 10px;
font-weight: normal;

}
.descr-text{
font-size: 11px;
color: #cbc6c6;
padding-bottom: 30px;
}
.descr-link {
  position: absolute;
  text-decoration: none;
  background: #cbc6c6;
  border-radius: 10%;
  padding: 5px 5px;
  transform: translate(170%, -50%)
}