.destinations {
  margin-bottom: 3.75rem;
}

.section-title {
  text-transform: uppercase;
  color: #263555;
  margin-bottom: 3.125rem;
  font-size: 2.125rem;
}

.destinations-body {
  display: flex;
  justify-content: space-between;
}

.destinations-card {
  position: relative;
  width: 32%;
  float: left;
  margin-right: 2%;
}

.destinations-card:last-child {
  margin-right: 0px;
}

.destinations-card:hover>.destinations-descr {
  display: block;
}

.destinations-descr {
  display: none;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 50%;
  background: #193149;
  font-family: 'Open Sans Condensed Light Italic', sans-serif;
  color: #fff;
  padding: 1.25rem 0.625rem;
}

.descr-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  font-family: 'Open Sans Condensed Light Italic', sans-serif;
}

.descr-text {
  font-size: 0.6875rem;
  color: #cbc6c6;
  padding-bottom: 1.875rem;
}

.descr-link {
  position: absolute;
  text-decoration: none;
  background: #cbc6c6;
  bottom: 1.25rem;
  right: 1.25rem;
  border-radius: 10%;
  padding: 0.3125rem 0.3125rem;
}

.destinations-img {
  display: block;
  width: 100%;
  height: auto;
}