.page-footer{ 
  width: 64rem;
  margin: auto;
  background-color: #30455b;
  padding:  2.5rem 8.4375rem 2rem 8.4375rem;

}
.footer-list{
  list-style: none;
  display: block;
  columns: 4;
}
.footer-list-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}
.info {
  color: white;
  padding-bottom: 0rem;
}
.footer-socials {
  display: flex;
  width: 100%;
  padding: 1.5625rem 0rem;
  margin: auto;
  justify-content: center;
}

.footer-icon {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url("../img/css_sprites.png");
}
.bg-facebook {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -10px -10px;
    
}

.bg-google_plus {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -70px -10px;
    margin-right: 0.9375rem;
}

.bg-linkedin {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -130px -10px;
    margin-right: 0.9375rem;
}

.bg-twitter {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -190px -10px;
    margin-right: 0.9375rem;
}
.container {
  max-width: 75rem;
  min-width: 20rem;
  margin: auto;
}