.gallery-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.gallery-title {
  text-transform: uppercase;
  color: #263555;
  margin: 3.125rem 0px;
  font-size: 2.125rem;
}


.gallery-item {
  flex-basis: 32%;
  margin-bottom: 1.25rem;
}

.gallery-item::before {
  background-image: url(..img/icon.jpg);
}

.gallery-item:hover {
  filter: contrast(30%);
}