.main {
  width: 65%;
  margin-right: 5%;
  color: #263555;
}

.--title {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  padding: 50px 0px 50px 0px;
  text-transform: uppercase;
  font-weight: 400;
}

.agency-image{
  float: left;
  margin: 0rem  1.25rem 1.25rem 0rem;
}

h3,p {
  padding-bottom: 1.25rem; 
}
.offer-list {
  columns: 2;
  color: #4e5050;
  list-style-type: none;
  margin-bottom: 1.875rem;
}
.list-link{
  text-decoration: none;
  color: #263555;
}
.offer-list-item{
  margin-bottom: 1.875rem;
}
.offer-list-item::before{
  content: url(../img/arrow.jpg);
  margin-right: 0.75rem;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
}