.page-footer {
    padding: 5rem 0;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.footer-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/footer-icons.png);
}

.bg-facebook {
    width: 40px;
    height: 40px;
    background: url(../img/css_sprites.png) -10px -10px;
}

.bg-google_plus {
    width: 40px;
    height: 40px;
    background: url(../img/css_sprites.png) -70px -10px;
}

.bg-linkedin {
    width: 40px;
    height: 40px;
    background: url(../img/css_sprites.png) -130px -10px;
}

.bg-twitter {
    width: 40px;
    height: 40px;
    background: url(../img/css_sprites.png) -190px -10px;
}