.main {
  width: 75%;
  /* margin-right: 5%; */
  color: #263555;
}

.--title {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  margin-bottom: 3.125rem;
  text-transform: uppercase;
  font-weight: 400;
}
.map_phone {
  display: flex;
  flex-basis:50%; 
  
}
.map{
width: 100%;
}
.table{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.email{
  text-decoration: none;
  color: #fa7e7e;

}
iframe{
  margin-right: 1rem;
}